@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothamPro.eot');
  src: url('fonts/GothamPro.eot') format('embedded-opentype'),
  url('fonts/GothamPro.woff2') format('woff2'),
  url('fonts/GothamPro.woff') format('woff'),
  url('fonts/GothamPro.ttf') format('truetype'),
  url('fonts/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
  font-family: 'AlteHaasGroteskRegular';
  src: url('fonts/AlteHaasGroteskRegular.eot');
  src: url('fonts/AlteHaasGroteskRegular.eot') format('embedded-opentype'),
  url('fonts/AlteHaasGroteskRegular.woff2') format('woff2'),
  url('fonts/AlteHaasGroteskRegular.woff') format('woff'),
  url('fonts/AlteHaasGroteskRegular.ttf') format('truetype'),
  url('fonts/AlteHaasGroteskRegular.svg#AlteHaasGroteskRegular') format('svg');
}

$Arial: 'AlteHaasGroteskRegular', sans-serif;
$Gotham: 'GothamPro', sans-serif;

body {
  background-image: url(image/bg_man.png);
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  padding-top: 23px;
  padding-bottom: 60px;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .line {
    width: 95px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    left: 660px;
    top: 34px;
  }
}

.container {
  width: 940px;

}

//header

header {
  max-height: 72px;
  max-width: 940px;
  background-color: #272727;
  color: #939393;
  margin: 0 auto;
  display: flex;
  position: relative;
  h1 {
    font-size: 20px;
    font-family: $Gotham;
    color: rgba(255, 255, 255, 0.502);
    text-transform: uppercase;
    line-height: 1.149;
    margin-left: 15px;
    margin-bottom: 0;

  }
  p {
    font-size: 12px;
    font-family: $Gotham;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.149;
    margin-left: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: left;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    font-family: $Arial;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.698;
    justify-content: flex-end;
    position: relative;
    top: -71px;
    left: -103px;
    height: 0;
    li {
      padding-right: 15px;
      padding-left: 15px;
      text-align: left;
    }
    a {
      color: rgba(255, 255, 255, 0.502);
    }
  }
  .cart {
    position: absolute;
    top: 15px;
    right: 26px;
    font-size: 24px;
  }

  .nav ul::before {
    content: '|';
    height: 40px;
    width: 1px;
    padding-right: 15px;
  }
  .nav ul::after {
    content: '|';
    height: 40px;
    width: 1px;
    padding-left: 15px;
  }
  .nav ul::after::after {
    content: 'icon';
    background: url(image/cart.png);

  }
}

//NAVBAR
.list-group {
  margin-bottom: 0;
  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-family: $Gotham;
    background-color: #e6e6e6;
    line-height: 1.577;
    margin-bottom: 0;
    li {
      padding-left: 35px;
      padding-right: 20px;
    }
    a {
      color: #1a3a50;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.dropdawn {
  position: relative;
  text-align: center;
  ul {
    //opacity: 0;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #1e3e54;
    text-decoration: none;
    z-index: 2;
    //????????display
    ul {
      border: none;;
    }
    li {
      padding-top: 10px;
    }
    a {
      color: #ffffff;
      padding-left: 0;
    }
  }
}

.dropdown-menu:hover:active {
  display: block;
}

.dropdawn:hover {
  background-color: #1e3e54;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.dropdawn:active {
  background-color: #1e3e54;
  display: block;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.dropdawn:focus {
  background-color: #1e3e54;
  display: block;
  z-index: 3;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.dropdown-menu {
  margin: 0;
  border: 0;

}

.open > .dropdown-menu {
  display: none;
}

//carousel
.carousel {
  top: -15px;
}

.item {
  background: url(image/man_beard.png) center no-repeat;
  background-attachment: inherit;
  //background-position: top;
  color: #ffffff;
  min-height: 365px;
  margin-top: 0;
  position: relative;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d9dae1;
  border-radius: 50%;
}

.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 0;
  background-color: transparent;
  border: 2px solid #d9dae1;
}

.carousel-indicators {
  text-align: right;
  width: 100%;
  padding-right: 200px;
  padding-bottom: 32px;
}

.carousel-inner {
  .text {
    display: flex;
    flex-direction: column;
    padding-right: 135px;
    padding-top: 93px;
    height: auto;
    text-align: right;

    h2 {
      text-transform: uppercase;
      min-width: 285px;
    }
  }
}

//GALLERY

